<launch>
	<!-- I can set parameters on the Parameter Sever and they will be stored before the nodes get created.
		Going to use a Yaml file for that allows  parameters with complex types, nested namespaces of 
		parameters, and reusing the same parameter values in multiple places.  
	-->
	
	<!-- Namespace should be set by arg space:=<namespace> when calling this file other wise in root space-->
	<arg name="space" default="/" />
	
	
	<!-- Params -->
	<rosparam file="test.yaml" ns="$(arg space)" command="load"/>
	<node name="start_all" ns="$(arg space)" type="run.py" pkg="rosjava_bootstrap" args="X80SVPRobot main.java.org.ros.runner.StartAll" />
	
	<!-- <node name="start_all" ns="$(arg space)" type="run.py" pkg="rosjava_bootstrap" args="Runner main.java.org.ros.runner.StartAll" />
	-->



</launch>	 
