Package: openni-dev
Version: 1.3.2.1~maverick
Section: devel
Priority: optional
Architecture: i386
Depends: libstdc++6 (>= 4.4), libusb-1.0-0 (>= 1.0.8)
Maintainer: Suat Gedikli (gedikli@willowgarage.com)
Description: OpenNI developer package
